.Choice {
  margin: 1px;
  position: relative;
  background-color: var(--rm-ui-card-background);
  outline-offset: 0;
  outline: 1px solid transparent;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  width: 18px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition:
    outline-color 0.15s ease-out,
    background-color 0.15s ease-out,
    border-color 0.15s ease-out;
}

/* States */

.ChoiceFocused:not(.ChoiceDisabled) {
  outline-color: var(--rm-ui-color-focus);
}

.ChoiceHovered.ChoiceStateIdle {
  background-color: var(--rm-ui-grey-300);
}

.ChoiceDisabled {
  opacity: 0.33;
}

.ChoiceStateIdle {
  border-color: var(--rm-ui-grey-300);
}

.ChoiceStateSuccess {
  border-color: var(--rm-ui-color-action);
}

.ChoiceStateError {
  border-color: var(--rm-ui-color-error);
}

/* Radio styles */

.ChoiceTypeRadio {
  border-radius: 100%;
}

.ChoiceTypeRadio.ChoiceChecked.ChoiceStateIdle,
.ChoiceTypeRadio.ChoiceChecked.ChoiceStateSuccess {
  background-color: var(--rm-ui-color-action);
}

.ChoiceTypeRadio.ChoiceChecked.ChoiceStateError {
  background-color: var(--rm-ui-color-error);
}

.ChoiceTypeRadio .ChoiceMark {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
}

.ChoiceTypeRadio.ChoiceSizeXs .ChoiceMark {
  width: 6px;
  height: 6px;
}

.ChoiceTypeRadio.ChoiceSizeSm .ChoiceMark {
  width: 7px;
  height: 7px;
}

.ChoiceTypeRadio.ChoiceSizeMd .ChoiceMark {
  width: 8px;
  height: 8px;
}

.ChoiceTypeRadio.ChoiceSizeLg .ChoiceMark {
  width: 9px;
  height: 9px;
}

.ChoiceTypeRadio.ChoiceSizeXl .ChoiceMark {
  width: 10px;
  height: 10px;
}

.ChoiceTypeRadio.ChoiceChecked .ChoiceMark,
.ChoiceTypeRadio.ChoiceHovered .ChoiceMark {
  background-color: var(--rm-ui-card-background);
}

/* Checkbox styles */

.ChoiceTypeCheckbox {
  border-radius: 4px;
}

.ChoiceTypeCheckbox.ChoiceChecked.ChoiceStateIdle,
.ChoiceTypeCheckbox.ChoiceChecked.ChoiceStateSuccess {
  background-color: var(--rm-ui-color-action);
}

.ChoiceTypeCheckbox.ChoiceChecked.ChoiceStateError {
  background-color: var(--rm-ui-color-error);
}

.ChoiceTypeCheckbox .ChoiceMark {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  stroke-width: 3px;
  stroke: transparent;
}

.ChoiceTypeCheckbox.ChoiceSizeXs .ChoiceMark {
  width: 8px;
  height: 8px;
}

.ChoiceTypeCheckbox.ChoiceSizeSm .ChoiceMark {
  width: 10px;
  height: 10px;
}

.ChoiceTypeCheckbox.ChoiceSizeMd .ChoiceMark {
  width: 12px;
  height: 12px;
}

.ChoiceTypeCheckbox.ChoiceSizeLg .ChoiceMark {
  width: 14px;
  height: 14px;
}

.ChoiceTypeCheckbox.ChoiceSizeXl .ChoiceMark {
  width: 16px;
  height: 16px;
}

.ChoiceTypeCheckbox.ChoiceChecked .ChoiceMark,
.ChoiceTypeCheckbox.ChoiceHovered .ChoiceMark {
  stroke: var(--rm-ui-card-background);
}

.ChoiceSizeXs {
  width: 14px;
  height: 14px;
}

.ChoiceSizeSm {
  width: 16px;
  height: 16px;
}

.ChoiceSizeMd {
  width: 18px;
  height: 18px;
}

.ChoiceSizeLg {
  width: 20px;
  height: 20px;
}

.ChoiceSizeXl {
  width: 22px;
  height: 22px;
}
