.Line {
  padding: var(--rm-ui-padding-md) 0;
}

.LineElement {
  margin: 0;
  border: 1px solid var(--rm-ui-sidebar-line-color);
}


@media screen and (min-width: 1200px) {
  .Line {
    padding: var(--rm-ui-padding-lg) 0;
  }
}
