.Label {
  font-family: var(--rm-ui-font-family-regular), sans-serif;
  font-weight: var(--rm-ui-font-weight-regular);
  transition: color 0.15s ease-out;
}

.LabelPositionIdle {
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.LabelPositionActive {
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
}

.LabelStateIdle {
  color: var(--rm-ui-color-text-secondary);
}

.LabelStateError {
  color: var(--rm-ui-color-error);
}

.LabelStateSuccess {
  color: var(--rm-ui-color-success);
}
