.control-label {
  font-family: var(--rm-ui-font-family-regular), sans-serif;
  transition: color 0.15s ease-out;
}

.control-label--position-idle {
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.control-label--position-active {
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
}

.control-label--state-idle {
  color: var(--rm-ui-color-secondary);
}

.control-label--state-error {
  color: var(--rm-ui-color-error);
}

.control-label--state-success {
  color: var(--rm-ui-color-success);
}
