.BottomBar {
  background-color: var(--rm-ui-content-bg);
  flex-direction: column;
  justify-content: stretch;
}

.Fixed {
  position: fixed;
  z-index: 8000000;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--rm-ui-padding-md) var(--rm-ui-padding-xl) var(--rm-ui-padding-lg);
}

.Static {
  position: static;
}

.TopBlock {
  display: flex;
}

.LeftBlock {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.RightBlock {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Message {
  margin-top: var(--rm-ui-padding-sm);
  margin-bottom: var(--rm-ui-padding-md);
}

.Button {
  margin-top: var(--rm-ui-padding-md);
}
