.FormRow {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.XXS {
  gap: var(--rm-ui-padding-xxs);
  --rm-form-row-gap: var(--rm-ui-padding-xxs);
}

.XS {
  gap: var(--rm-ui-padding-xs);
  --rm-form-row-gap: var(--rm-ui-padding-xs);
}

.SM {
  gap: var(--rm-ui-padding-sm);
  --rm-form-row-gap: var(--rm-ui-padding-sm);
}

.MD {
  gap: var(--rm-ui-padding-md);
  --rm-form-row-gap: var(--rm-ui-padding-md);
}

.LG {
  gap: var(--rm-ui-padding-xl);
  --rm-form-row-gap: var(--rm-ui-padding-xl);
}

.XL {
  gap: var(--rm-ui-padding-xl);
  --rm-form-row-gap: var(--rm-ui-padding-xl);
}

.XXL {
  gap: var(--rm-ui-padding-xxl);
  --rm-form-row-gap: var(--rm-ui-padding-xxl);
}

.XXXL {
  gap: var(--rm-ui-padding-xxxl);
  --rm-form-row-gap: var(--rm-ui-padding-xxxl);
}

@media screen and (min-width: 768px) {
  .FormRow {
    flex-direction: row;
  }

  .Child[data-children-quantity='1'] {
    width: 100%;
  }

  .Child[data-children-quantity='2']:not([data-width]) {
    width: calc(100% / 2);
  }

  .Child[data-children-quantity='3']:not([data-width]) {
    width: calc(100% / 3);
  }

  .Child[data-children-quantity='4']:not([data-width]) {
    width: calc(100% / 4);
  }

  .Child[data-width='1'] {
    width: 100%;
  }

  .Child[data-width='1/2'] {
    width: calc(100% / 2);
  }

  .Child[data-width='1/2'][data-children-quantity='1'] {
    width: calc((100% / 2) - (var(--rm-form-row-gap) / 2));
  }

  .Child[data-width='1/3'] {
    width: calc(100% / 3);
  }

  .Child[data-width='1/3'][data-children-quantity='1'] {
    width: calc((100% / 3) - (var(--rm-form-row-gap) / 2));
  }

  .Child[data-width='2/3'] {
    width: calc(200% / 3);
  }

  .Child[data-width='2/3'][data-children-quantity='1'] {
    width: calc((200% / 3) - (var(--rm-form-row-gap) / 2));
  }

  .Child[data-width='1/4'] {
    width: calc(100% / 4);
  }

  .Child[data-width='1/4'][data-children-quantity='1'] {
    width: calc((100% / 4) - (var(--rm-form-row-gap) / 2));
  }

  .Child[data-width='2/4'] {
    width: calc(200% / 4);
  }

  .Child[data-width='2/4'][data-children-quantity='1'] {
    width: calc((200% / 4) - (var(--rm-form-row-gap) / 2));
  }

  .Child[data-width='3/4'] {
    width: calc(300% / 4);
  }

  .Child[data-width='3/4'][data-children-quantity='1'] {
    width: calc((300% / 4) - (var(--rm-form-row-gap) / 2));
  }
}
