.FormRow {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.XXS {
  gap: var(--rm-ui-padding-xxs);
}

.XS {
  gap: var(--rm-ui-padding-xs);
}

.SM {
  gap: var(--rm-ui-padding-sm);
}

.MD {
  gap: var(--rm-ui-padding-md);
}

.LG {
  gap: var(--rm-ui-padding-xl);
}

.XL {
  gap: var(--rm-ui-padding-xl);
}

.XXL {
  gap: var(--rm-ui-padding-xxl);
}

.XXXL {
  gap: var(--rm-ui-padding-xxxl);
}

.Child {
  flex-grow: 1;
}

.Child[data-children-quantity='1'] {
  width: calc(100% / 1);
}

.Child[data-children-quantity='2'] {
  width: calc(100% / 2);
}

.Child[data-children-quantity='3'] {
  width: calc(100% / 3);
}

.Child[data-children-quantity='4'] {
  width: calc(100% / 4);
}

@media screen and (min-width: 768px) {
  .FormRow {
    flex-direction: row;
  }
}
