.Signature {
  background-color: transparent;
}

.SignatureMain {
  --title-height: 40px;
  overflow: hidden;
  position: relative;
  padding: calc(var(--rm-ui-padding-md) + var(--title-height)) var(--rm-ui-padding-md)
    calc(var(--rm-ui-padding-md) + var(--title-height));
  border: 1px solid var(--rm-ui-grey-300);
  border-radius: var(--rm-ui-border-radius-sm);
}

.SignatureMainAuto {
  padding: calc(var(--rm-ui-padding-md) + var(--title-height)) var(--rm-ui-padding-md) var(--rm-ui-padding-md);
}

.SignatureMainManual {
  padding: calc(var(--rm-ui-padding-md) + var(--title-height)) var(--rm-ui-padding-md)
    calc(var(--rm-ui-padding-md) + var(--title-height));
}

.Buttons {
  margin-top: var(--rm-ui-padding-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--rm-ui-padding-md);
}

/* Header */

.Header {
  position: absolute;
  z-index: 1;
  top: var(--rm-ui-padding-md);
  left: var(--rm-ui-padding-md);
  right: var(--rm-ui-padding-md);
  display: flex;
}

.HeaderManualDraw {
  justify-content: flex-end;
}

.HeaderNotManualDraw {
  justify-content: center;
}

.Content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.AutoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.SignatureHeaderReset {
  position: relative;
  z-index: 1;
}

/* Manual Mode */

.SignatureManualPanel > canvas,
.SignatureManualPanel > img {
  position: absolute;
  top: 0;
  left: 0;
}

.SignatureManualPanelPlaceholder {
  height: 94px;
}

.SignatureManualPanelButton {
  position: absolute;
  z-index: 1;
  bottom: var(--rm-ui-padding-md);
  left: var(--rm-ui-padding-md);
  right: var(--rm-ui-padding-md);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/* Auto Mode */

.SignatureAutoPanelImage {
  height: 46px;
  max-width: 100%;
  display: block;
}

.SignatureAutoPanelLoader {
  height: 142px;
  display: inline-flex;
  align-items: center;
  padding: var(--rm-ui-padding-xs);
}

.SignatureAutoPanelNoteIcon {
  stroke: var(--rm-ui-color-success);
}

.SignatureAutoPanelButton {
  margin: 8px 0;
}

.SignatureAutoLabel {
  margin: var(--rm-ui-padding-xs) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--rm-ui-padding-xxs);
}

/* Error load */
.SignatureErrorLoading {
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--rm-ui-padding-xs);
}
