tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

.Table {
  border-spacing: 0px;
  color: rgb(46, 51, 56);
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-inline: 1px;
  padding-inline: 0px;
  font-family:
    'Nunito Sans',
    -apple-system,
    '.SFNSText-Regular',
    'San Francisco',
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

.Table thead th:first-of-type,
.Table thead td:first-of-type {
  width: 25%;
  padding-left: 20px;
}

.Table th {
  color: rgb(92, 101, 112);
  padding: 10px 15px;
  border: none;
  vertical-align: top;
  text-overflow: ellipsis;
}

.Table tbody {
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 1px 3px);
}

.Table tbody > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 4px;
}

.Table tbody > tr > :first-of-type {
  border-inline-start: 1px solid rgba(38, 74, 115, 0.15);
}

.Table tbody > tr:first-of-type > * {
  border-block-start: 1px solid rgba(38, 74, 115, 0.15);
}

.Table tbody > tr > * {
  background: rgb(255, 255, 255);
  border-top: 1px solid rgba(38, 74, 115, 0.15);
}

.Table tbody > tr > td:first-of-type {
  padding-left: 20px;
  font-weight: bold;
}

.Table > tr > * {
  background: rgb(255, 255, 255);
  border-top: 1px solid rgba(38, 74, 115, 0.15);
}

.Table td {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  text-overflow: ellipsis;
}

.Table td:not(:first-of-type) {
  padding-left: 15px;
  padding-right: 15px;
}
