.Status {
  position: relative;
  display: inline-flex;
}

.Idle > .Circle {
  stroke: var(--rm-ui-status-idle-color);
  fill: var(--rm-ui-status-idle-color);
  fill-opacity: 0.1;
}

.Success > .Circle {
  stroke: var(--rm-ui-status-success-color);
  fill: var(--rm-ui-status-success-color);
  fill-opacity: 1;
}

.Error > .Circle {
  stroke: var(--rm-ui-status-error-color);
  fill: var(--rm-ui-status-error-color);
  fill-opacity: 1;
}

.Circle {
  flex-basis: 100%;
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  transition-duration: var(--rm-ui-amimation-speed-secondary);
  transition-timing-function: var(--rm-ui-amimation-cubic-primary);
  transition-property: stroke, fill;
}

.Check,
.X {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 14px;
  height: 14px;
  stroke-width: 3;
  stroke: var(--rm-ui-status-idle-color);
  stroke-opacity: 0.1;
  transform: translate(-50%, -50%);
  transition-duration: var(--rm-ui-amimation-speed-secondary);
  transition-delay: var(--rm-ui-amimation-speed-primary);
  transition-timing-function: var(--rm-ui-amimation-cubic-primary);
  transition-property: stroke, opacity;
}

.Success > .Check,
.Error > .X {
  opacity: 1;
  stroke: var(--rm-ui-content-bg);
  stroke-opacity: 1;
}
