.Button {
  position: relative;
  box-sizing: border-box;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SizeSm {
  border-radius: var(--rm-ui-border-radius-sm);
  padding: var(--rm-ui-padding-xs) var(--rm-ui-padding-sm);
}

.SizeLg.ColorTertiary {
  padding: calc(var(--rm-ui-padding-xs) - 1px) calc(var(--rm-ui-padding-sm) - 1px);
}

.SizeSm .Text {
  font-weight: var(--rm-ui-font-weight-regular);
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
}

.SizeMd {
  border-radius: var(--rm-ui-border-radius-md);
  padding: var(--rm-ui-padding-sm) var(--rm-ui-padding-lg);
}

.SizeMd.ColorTertiary {
  padding: calc(var(--rm-ui-padding-sm) - 1px) calc(var(--rm-ui-padding-lg) - 1px);
}

.SizeLg {
  border-radius: var(--rm-ui-border-radius-md);
  padding: var(--rm-ui-padding-sm) var(--rm-ui-padding-lg);
}

.SizeLg.ColorTertiary {
  padding: calc(var(--rm-ui-padding-sm) - 1px) calc(var(--rm-ui-padding-lg) - 1px);
}

.SizeMd .Text {
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.SizeLg .Text {
  font-size: var(--rm-ui-font-size-body-large);
  line-height: var(--rm-ui-line-height-body-large);
}

.ColorPrimary {
  background-color: var(--rm-ui-next-btn-bg);
}

.ColorPrimary .Text {
  color: #ffffff;
}

.ColorSecondary {
  background-color: transparent;
}

.ColorSecondary .Text {
  color: var(--rm-ui-color-text-secondary);
}

.ColorTertiary {
  border: 1px solid var(--rm-ui-grey-300);
  background-color: transparent;
}

.ColorTertiary .Text {
  color: var(--rm-ui-color-text-primary);
}

.Button:not(.Loading):not(:disabled):hover {
  cursor: pointer;
}

.Button:focus {
  outline-color: var(--rm-ui-color-focus);
}

.FullWidth {
  width: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
}

.Info {
  flex-basis: 100%;
  font-weight: var(--rm-ui-font-weight-regular);
  font-size: var(--rm-ui-font-size-body-small);
  line-height: calc(var(--rm-ui-line-height-body-small) - 2px);
  color: #ffffff;
}

.Text {
  font-weight: var(--rm-ui-font-weight-medium);
}

.Loader {
  position: absolute;
  display: flex;
}
