.ControlCheckbox {
  display: flex;
  flex-direction: column;
}

.Label {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--rm-ui-padding-xs);
}

.Label:hover {
  cursor: pointer;
}

.Choice {
  position: relative;
  left: 0;
  top: 3px;
}

.Content {
  font-weight: var(--rm-ui-font-weight-regular);
  color: var(--rm-ui-color-text-primary);
}

.Content button {
  color: var(--rm-ui-color-link);
  outline-offset: 2px;
}

.Content button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Content button:focus-visible {
  outline-color: var(--rm-ui-color-focus);
}

.Body {
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.BodySmall {
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
}

.ErrorMessage {
  padding-top: var(--rm-ui-padding-xxs);
}
