.Box {
  flex-basis: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: var(--rm-ui-box-border-radius);
  border: 1px solid transparent;
  background-color: var(--rm-ui-card-background);
  transition: border-color 0.15s ease-out;
}

.Checked {
  border-color: var(--rm-ui-color-action);
}

.Idle {
  border-color: var(--rm-ui-grey-300);
}

.Focused {
  border-color: var(--rm-ui-color-focus);
  border-color: -webkit-focus-ring-color;
}

.Error {
  border-color: var(--rm-ui-color-error);
}

.Success {
  border-color: var(--rm-ui-color-success);
}
