.MessageBlockEmoji {
  font-size: 64px;
  line-height: 1;
}

.MessageBlockContent h1,
.MessageBlockContent h2 {
  margin-bottom: var(--rm-ui-padding-sm);
}

.MessageBlockContent h3,
.MessageBlockContent h4,
.MessageBlockContent h5,
.MessageBlockContent h6 {
  margin-bottom: var(--rm-ui-padding-xs);
}

.MessageBlockContent p:not(:last-child):not(:last-of-type),
.MessageBlockContent div:not(:last-child):not(:last-of-type) {
  margin-bottom: var(--rm-ui-padding-sm);
}
