.TextBlocks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--rm-ui-payment-text-blocks-gap);
}

.TextBlocksContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--rm-ui-padding-xs);
}

.TextBlocksTitle {
  font-weight: var(--rm-ui-font-weight-bold);
  font-size: var(--rm-ui-font-size-hl4);
  line-height: var(--rm-ui-line-height-hl4);
  color: var(--rm-ui-color-text-primary);
}
