.PageInfo {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--rm-ui-font-family-light), sans-serif;
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
  color: var(--rm-ui-color-text-secondary);
}
