.Text {
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
  height: 58px;
  padding: var(--rm-ui-padding-xs) var(--rm-ui-padding-sm);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
}

.Text:hover {
  cursor: pointer;
}

.TextLabel {
  position: absolute;
  left: var(--rm-ui-padding-sm);
  transition: top 0.15s ease-out;
}

.TextLabelIdle {
  top: 50%;
  transform: translateY(-50%);
}

.TextLabelActive {
  top: var(--rm-ui-padding-xs);
  transform: translateY(0);
}
