.ControlCardImage {
  --font-size: 12px;
  --line-height: 14px;
  --img-size: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--rm-ui-padding-xs);
}

.Content {
  width: 135px;
  height: 130px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.Content:hover {
  cursor: pointer;
}

.Top {
  position: relative;
  flex-grow: 1;
}

.Wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--img-size);
  height: var(--img-size);
  background-repeat: no-repeat;
  background-size: 700%;
}

.Bottom {
  flex-basis: calc(var(--line-height) * 2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--rm-ui-padding-xs);
}
