.Step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--rm-ui-padding-xs);
}

.StepText {
  font-weight: var(--rm-ui-font-weight-medium);
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
}

.StepTextIdle {
  color: var(--rm-ui-color-text-secondary);
}

.StepTextActive {
  color: var(--rm-ui-color-text-primary);
}
