.SidebarTitle,
.SidebarButton {
  padding-bottom: var(--rm-ui-padding-md);
}

.SidebarButton {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

@media screen and (min-width: 1200px) {
  .SidebarTitle,
  .SidebarButton {
    padding-bottom: var(--rm-ui-padding-lg);
  }
}
