.StepTitle {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--rm-ui-font-family-medium), sans-serif;
  font-size: var(--rm-ui-font-size-hl4);
  line-height: var(--rm-ui-line-height-hl4);
  color: var(--rm-ui-color-text-primary);
}
