.Glass {
  position: relative;
}

.Cover {
  cursor: not-allowed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  content: '';
  position: absolute;
  z-index: 10;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}
