.Button {
  box-sizing: border-box;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ButtonSizeSm {
  border-radius: var(--rm-ui-border-radius-sm);
  padding: var(--rm-ui-padding-xs) var(--rm-ui-padding-sm);
}

.ButtonSizeSm .ButtonText {
  font-family: var(--rm-ui-font-family-regular), sans-serif;
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
}

.ButtonSizeMd,
.ButtonSizeLg {
  border-radius: var(--rm-ui-border-radius-md);
  padding: var(--rm-ui-padding-sm) var(--rm-ui-padding-md);
}

.ButtonSizeMd .ButtonText {
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.ButtonSizeLg .ButtonText {
  font-size: var(--rm-ui-font-size-body-large);
  line-height: var(--rm-ui-line-height-body-large);
}

.ButtonColorNext {
  background-color: var(--rm-ui-next-btn-bg);
}

.ButtonColorNext .ButtonText {
  color: #ffffff;
}

.ButtonColorPrevious {
  background-color: transparent;
}

.ButtonColorPrevious .ButtonText {
  color: var(--rm-ui-color-secondary);
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline-color: var(--rm-ui-color-focus);
}

.ButtonFullWidth {
  width: 100%;
}

.ButtonText {
  font-family: var(--rm-ui-font-family-medium), sans-serif;
}

.ButtonInfo {
  font-family: var(--rm-ui-font-family-regular), sans-serif;
  font-size: var(--rm-ui-font-size-body-small);
  line-height: calc(var(--rm-ui-line-height-body-small) - 2px);
  color: #ffffff;
}
