.Button {
  position: relative;
  box-sizing: border-box;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ButtonSizeSm {
  border-radius: var(--rm-ui-border-radius-sm);
  padding: var(--rm-ui-padding-xs) var(--rm-ui-padding-sm);
}

.ButtonSizeLg.ButtonColorTertiary {
  padding: calc(var(--rm-ui-padding-xs) - 1px) calc(var(--rm-ui-padding-sm) - 1px);
}

.ButtonSizeSm .ButtonText {
  font-weight: var(--rm-ui-font-weight-regular);
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
}

.ButtonSizeMd {
  border-radius: var(--rm-ui-border-radius-md);
  padding: var(--rm-ui-padding-sm) var(--rm-ui-padding-lg);
}

.ButtonSizeMd.ButtonColorTertiary {
  padding: calc(var(--rm-ui-padding-sm) - 1px) calc(var(--rm-ui-padding-lg) - 1px);
}

.ButtonSizeLg {
  border-radius: var(--rm-ui-border-radius-md);
  padding: var(--rm-ui-padding-sm) var(--rm-ui-padding-lg);
}

.ButtonSizeLg.ButtonColorTertiary {
  padding: calc(var(--rm-ui-padding-sm) - 1px) calc(var(--rm-ui-padding-lg) - 1px);
}

.ButtonSizeMd .ButtonText {
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.ButtonSizeLg .ButtonText {
  font-size: var(--rm-ui-font-size-body-large);
  line-height: var(--rm-ui-line-height-body-large);
}

.ButtonColorPrimary {
  background-color: var(--rm-ui-next-btn-bg);
}

.ButtonColorPrimary .ButtonText {
  color: #ffffff;
}

.ButtonColorSecondary {
  background-color: transparent;
}

.ButtonColorSecondary .ButtonText {
  color: var(--rm-ui-color-text-secondary);
}

.ButtonColorTertiary {
  border: 1px solid var(--rm-ui-grey-300);
  background-color: transparent;
}

.ButtonColorTertiary .ButtonText {
  color: var(--rm-ui-color-text-primary);
}

.Button:not(.ButtonLoading):not(:disabled):hover {
  cursor: pointer;
}

.Button:focus {
  outline-color: var(--rm-ui-color-focus);
}

.ButtonFullWidth {
  width: 100%;
}

.ButtonText {
  font-weight: var(--rm-ui-font-weight-medium);
}

.ButtonInfo {
  font-weight: var(--rm-ui-font-weight-regular);
  font-size: var(--rm-ui-font-size-body-small);
  line-height: calc(var(--rm-ui-line-height-body-small) - 2px);
  color: #ffffff;
}

.ButtonContent {
  transition: opacity 0.2s ease-in-out 0.2s;
}

.ButtonContentLoading {
  opacity: 0;
}

.ButtonContentIdle {
  opacity: 1;
}

.ButtonLoaderWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ButtonLoaderAnimationWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
