.RadioText {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RadioTextColorPrimary .RadioTextContent {
  color: var(--rm-ui-color-text-primary);
}

.RadioTextColorSecondary .RadioTextContent {
  color: var(--rm-ui-color-text-secondary);
}

.RadioTextSizeMd {
  font-size: var(--rm-ui-font-size-body-extra-small);
  line-height: var(--rm-ui-font-size-body-extra-small);
}

.RadioTextSizeLg {
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.RadioTextOneLine,
.RadioTextOneLine .RadioTextContent {
  white-space: nowrap;
}

.RadioTextContent {
  position: relative;
  transition: color var(--rm-ui-amimation-speed-secondary) var(--rm-ui-amimation-cubic-primary);
}

.RadioTextContent {
  text-align: left;
  white-space: pre-wrap;
}

.RadioTextContent[data-checked='false'] {
  font-weight: var(--rm-ui-font-weight-regular);
}

.RadioTextContent[data-checked='true'] {
  font-weight: var(--rm-ui-font-weight-medium);
}
