.Radio {
  display: inline-flex;
  flex-direction: column;
}

.Content {
  display: inline-flex;
}

.OrientationHorizontal {
  flex-direction: row;
  gap: var(--rm-ui-padding-lg);
}

.OrientationVertical {
  flex-direction: column;
  gap: var(--rm-ui-padding-xxs);
}

.RadioLabel {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--rm-ui-padding-xs);
}

.RadioLabel:hover {
  cursor: pointer;
}

.ErrorMessage {
  padding-top: var(--rm-ui-padding-xxs);
}
