.Textarea {
  resize: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: var(--rm-ui-padding-xs) var(--rm-ui-padding-sm);
  font-family: var(--rm-ui-font-family-medium), sans-serif;
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
  color: var(--rm-ui-color-text-primary);
}

.Textarea:hover {
  cursor: pointer;
}

.Textarea:disabled {
  opacity: 0.33;
}

.Textarea:disabled,
.Textarea:-webkit-autofill,
.Textarea:-webkit-autofill:hover,
.Textarea:-webkit-autofill:focus,
.Textarea:-webkit-autofill:active,
.Textarea:autofill,
.Textarea:autofill:hover,
.Textarea:autofill:focus,
.Textarea:autofill:active {
  background: transparent;
  transition: background 7200s ease-in-out 0s;
}

.Textarea:-webkit-autofill {
  animation-name: autofill-start;
  animation-duration: 0.1s;
  -webkit-text-fill-color: var(--rm-ui-grey-500);
}

.Textarea:not(:-webkit-autofill) {
  animation-name: autofill-cancel;
  animation-duration: 0.1s;
}

@keyframes autofill-start {
}

@keyframes autofill-cancel {
}
