.DataProtectedLabel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--rm-ui-padding-sm);
}

.Left {
  justify-content: flex-start;
}

.Center {
  justify-content: center;
}

.Right {
  justify-content: flex-end;
}

.Icon {
  width: 24px;
  height: 24px;
  color: var(--rm-ui-data-protected-label-icon);
}

.Text {
  font-weight: var(--rm-ui-font-weight-light);
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
  color: var(--rm-ui-data-protected-label-text);
}
