.Button {
  position: relative;
  box-sizing: border-box;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:
    border-color var(--rm-ui-amimation-speed-primary) var(--rm-ui-amimation-cubic-primary),
    background-color var(--rm-ui-amimation-speed-primary) var(--rm-ui-amimation-cubic-primary);
}

.Button:disabled {
  cursor: not-allowed;
  opacity: 0.33;
}

.Button.SM {
  border-radius: var(--rm-ui-border-radius-sm);
  padding: var(--rm-ui-padding-xs) var(--rm-ui-padding-sm);
}

.Button.LG.Tertiary {
  padding: calc(var(--rm-ui-padding-xs) - 1px) calc(var(--rm-ui-padding-sm) - 1px);
}

.Button.SM .Text {
  font-weight: var(--rm-ui-font-weight-regular);
  font-size: var(--rm-ui-font-size-body-small);
  line-height: var(--rm-ui-line-height-body-small);
}

.Button.MD {
  border-radius: var(--rm-ui-border-radius-md);
  padding: var(--rm-ui-padding-sm) var(--rm-ui-padding-lg);
}

.Button.MD.Tertiary {
  padding: calc(var(--rm-ui-padding-sm) - 1px) calc(var(--rm-ui-padding-lg) - 1px);
}

.Button.LG {
  border-radius: var(--rm-ui-border-radius-md);
  padding: var(--rm-ui-padding-sm) var(--rm-ui-padding-lg);
}

.Button.LG.Tertiary {
  padding: calc(var(--rm-ui-padding-sm) - 1px) calc(var(--rm-ui-padding-lg) - 1px);
}

.Button.MD .Text {
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.Button.LG .Text {
  font-size: var(--rm-ui-font-size-body-large);
  line-height: var(--rm-ui-line-height-body-large);
}

.Button.Primary {
  background-color: var(--rm-ui-next-btn-bg);
}

.Button.Primary:hover {
  background-color: var(--rm-ui-next-btn-bg-hover);
}

.Button.Primary .Text,
.Button.Primary .Info {
  color: #ffffff;
}

.Button.Secondary {
  border: 1px solid transparent;
  background-color: transparent;
}

.Button.Secondary:hover {
  border-color: var(--rm-ui-grey-400);
}

.Button.Secondary:hover .Text {
  color: var(--rm-ui-grey-400);
  border-color: var(--rm-ui-grey-400);
}

.Button.Secondary .Text,
.Button.Secondary .Info {
  color: var(--rm-ui-color-text-secondary);
}

.Button.Tertiary {
  border: 1px solid var(--rm-ui-grey-300);
  background-color: transparent;
}

.Button.Tertiary:hover {
  border-color: var(--rm-ui-grey-200);
}
.Button.Tertiary:hover .Text {
  color: var(--rm-ui-grey-700);
}

.Button.Tertiary .Text,
.Button.Tertiary .Info {
  color: var(--rm-ui-color-text-primary);
}

.Button:not(.Loading):not(:disabled):hover {
  cursor: pointer;
}

.Button:focus {
  outline-color: var(--rm-ui-color-focus);
}

.Button.FullWidth {
  width: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
}

.Info {
  flex-basis: 100%;
  font-weight: var(--rm-ui-font-weight-regular);
}

.Info.SM {
  font-size: var(--rm-ui-font-size-body-small);
  line-height: calc(var(--rm-ui-line-height-body-small) - 2px);
}

.Info.MD {
  font-size: var(--rm-ui-font-size-body);
  line-height: calc(var(--rm-ui-line-height-body) - 2px);
}

.Info.LG {
  font-size: var(--rm-ui-font-size-body-large);
  line-height: calc(var(--rm-ui-line-height-body-large) - 2px);
}

.Text {
  font-weight: var(--rm-ui-font-weight-medium);
  transition: color var(--rm-ui-amimation-speed-primary) var(--rm-ui-amimation-cubic-primary);
}

.Loader {
  position: absolute;
}
