.Message {
  --message-icon-size: 24px;
  border-radius: var(--rm-ui-padding-sm);

  padding: var(--rm-ui-padding-md);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--rm-ui-padding-xs);
  font-size: var(--rm-ui-font-size-body);
  line-height: var(--rm-ui-line-height-body);
}

.MessageTypeSuccess {
  background-color: var(--rm-ui-message-success-secondary);
}

.MessageTypeSuccess .MessageIcon {
  stroke: var(--rm-ui-message-success-primary);
}

.MessageTypeQuestion {
  background-color: var(--rm-ui-message-question-secondary);
}

.MessageTypeQuestion .MessageIcon {
  stroke: var(--rm-ui-message-question-primary);
}

.MessageTypeError {
  background-color: var(--rm-ui-message-error-secondary);
}

.MessageTypeError .MessageIcon {
  stroke: var(--rm-ui-message-error-primary);
}

.MessageTypeInfo {
  background-color: var(--rm-ui-message-info-secondary);
}

.MessageTypeInfo .MessageIcon {
  stroke: var(--rm-ui-message-info-primary);
}

.MessageIcon {
  width: var(--message-icon-size);
  height: var(--message-icon-size);
}

.MessageContent {
  flex-basis: calc(100% - var(--message-icon-size) - var(--rm-ui-padding-xs));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--rm-ui-padding-xxs);
}

.MessageTitle {
  font-weight: var(--rm-ui-font-weight-medium);
}

.MessageText {
  font-weight: var(--rm-ui-font-weight-regular);
}
