.WithSidebar {
  --layout-max-width: 1100px;
  --layout-margin: initial;
  --layout-padding: initial;
  --layout-content-gap: var(--rm-ui-padding-sm);
  --layout-aside-width: 275px;
  --layout-header-padding: var(--rm-ui-padding-lg) var(--rm-ui-padding-lg) var(--rm-ui-padding-md);
  --layout-footer-pading: var(--rm-ui-padding-xxl);
  max-width: var(--layout-max-width);
  margin: var(--layout-margin);
  padding: var(--layout-padding);
  transition: padding ease-in-out 0.2s, margin ease-in-out 0.2s, max-width ease-in-out 0.2s;
}

.WithSidebarContent {
  display: block;
}

.WithSidebarMain {
  display: block;
  transition: flex-basis ease-in-out 0.2s;
}

.WithSidebarHeader {
  padding: var(--layout-header-padding);
  transition: padding ease-in-out 0.2s;
}

.WithSidebarAside {
  display: none;
  transition: flex-basis ease-in-out 0.2s;
}

.WithSidebarFooter {
  padding: var(--layout-footer-pading);
  transition: padding ease-in-out 0.2s;
}

@media screen and (min-width: 768px) {
  .WithSidebar {
    --layout-padding: 0 var(--rm-ui-padding-sm);
    --layout-header-padding: var(--rm-ui-padding-sm) 0;
    --layout-footer-pading: var(--rm-ui-padding-md) var(--rm-ui-padding-md) var(--rm-ui-padding-sm);
  }

  .WithSidebarContent {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--rm-ui-padding-md);
    transition: gap ease-in-out 0.2s;
  }

  .WithSidebarMain {
    flex-basis: calc(100% -  var(--layout-aside-width) - var(--layout-content-gap));
  }

  .WithSidebarAside {
    flex-basis: var(--layout-aside-width);
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .WithSidebar {
    --layout-padding: 0 var(--rm-ui-padding-md);
    --layout-content-gap: var(--rm-ui-padding-md);
    --layout-aside-width: 300px;
    --layout-header-padding: var(--rm-ui-padding-md) 0;
    --layout-footer-pading: var(--rm-ui-padding-xl) var(--rm-ui-padding-xl) var(--rm-ui-padding-md);
  }
}

@media screen and (min-width: 1200px) {
  .WithSidebar {
    --layout-margin: 0 auto;
    --layout-padding: 0;
    --layout-content-gap: 80px;
    --layout-aside-width: 350px;
    --layout-header-padding: var(--rm-ui-padding-lg) 0;
    --layout-footer-pading: var(--rm-ui-padding-xxl) var(--rm-ui-padding-xxl) var(--rm-ui-padding-md);
  }
}
